body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.recuadro {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.recuadro .imagenes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recuadro .instrumento {
    text-align: center;
    margin: 10px;
}

.recuadro img {
    width: 200px; /* Establecer un ancho fijo */
    height: 200px; /* Establecer una altura fija */
    object-fit: cover; /* Asegurarse de que la imagen se ajuste al contenedor */
    display: block;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .recuadro .instrumento {
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .recuadro .instrumento {
        max-width: 100%;
    }

    footer {
        position: static;
        padding: 20px 0;
    }
}