body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 100px; /* Añadir margen inferior para evitar solapamiento con el pie de página */
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Cambiar de fixed a relative */
    width: 100%;
    bottom: 0;
}

.recuadro {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.recuadro .imagenes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recuadro .instrumento {
    text-align: center;
    margin: 10px;
    flex: 1 1 30%; /* Ajustar el tamaño de los elementos */
    box-sizing: border-box;
}

.recuadro img {
    max-width: 100%; /* Ajustar el ancho al 100% del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: cover; /* Asegurarse de que la imagen se ajuste al contenedor */
    display: block;
}

.carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.carrito-item-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.carrito-item-details {
    flex-grow: 1;
}

button {
    margin-left: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .recuadro .instrumento {
        max-width: 45%;
        flex: 1 1 45%; /* Ajustar el tamaño de los elementos */
    }
}

@media (max-width: 480px) {
    .recuadro .instrumento {
        max-width: 100%;
        flex: 1 1 100%; /* Ajustar el tamaño de los elementos */
    }

    footer {
        position: static; /* Cambiar de fixed a static */
        padding: 20px 0;
    }
}